body { background: #c0e66c; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 59px; display: flex; }
.block-user-0 { color: #1bbc5f; font-size: 19px; margin-bottom: 5px; }
.block-shipping-1 { color: #5988b7; font-size: 20px; margin-bottom: 5px; }
.block-auth-2 { color: #8ba772; font-size: 19px; margin-bottom: 5px; }
.block-metrics-3 { color: #c63b9b; font-size: 15px; margin-bottom: 5px; }
.block-helper-4 { color: #a49824; font-size: 15px; margin-bottom: 5px; }
.block-invoice-5 { color: #e1b868; font-size: 13px; margin-bottom: 5px; }
.block-email-6 { color: #8ca448; font-size: 16px; margin-bottom: 5px; }
.block-user-7 { color: #662475; font-size: 18px; margin-bottom: 5px; }
.block-cart-8 { color: #1813c2; font-size: 16px; margin-bottom: 5px; }
.block-router-9 { color: #4810a9; font-size: 14px; margin-bottom: 5px; }